.bg_blue{
    background-color: #2C3E50;
}
.bg_green{
    background-color: #1ABC9C;
}
.bg_lightblue{
    background-color: #3A546D;
}
header{
    height: 90px;
}
.fa-star{
    font-size: 2rem;
}

#jumbotron h1{
    font-size: 3rem;
}
.star_line{
    width: 90px;
    height: 5px;
}
footer p{
    font-size: 1.4rem;
}
footer .col-3>div{
    width: 45px;
    height: 45px;
}
.debug{
    border: 1px solid black;
}
